@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans';
}

#header {
  padding-top: 16px;
  padding-bottom: 16px;
  /* background-color: #23b14d; */
  background-image: url("../images/bg-repeat.jpg");
}

#header .logo {
  width: 496px;
  max-width: 100%;
}

#menu {
  background-color: #23b14d;
  box-shadow: 0px -4px 4px #22a849;
}

#menu a {
  color: #FFFFFF;
}

#menu .nav-link {
  text-transform: uppercase;
  font-weight: bold;
}

#menu .nav-link:hover {
  background: #272626;
  color: #ffffff;
}

#menu .nav-item {
  position: relative;
}

#menu .nav-item .dropdown-menu {
  position: absolute;
  left: 0;
  top: 36px;
  border: none;
  border-radius: 0;
  background: #272626;
}

#menu .nav-item .dropdown-menu .dropdown-item:hover {
  background: #000000;
}

#banner .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #000000;
  opacity: 0.6;
}

#footer {
  background-color: #313030;
  color: #b0b09e;
}

#footer .caption {
  background-color: #272626;
  padding-top: 16px;
  padding-bottom: 16px;
}

#footer a {
  color: #23b14d;
}

.content {
  margin-top: 64px;
  margin-bottom: 64px;
}

.content-green {
  background: #8cc63e;
}

.content-yellow {
  background: #d6df20;
}

.content-dark-green {
  background: #12a89d;
}

.content-orange {
  background: #f7941d;
}